apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: ferriskey-demo-postgres
  namespace: ferriskey-demo
  annotations:
    argocd.argoproj.io/sync-wave: "0"
spec:
  instances: 1
  resources:
    requests:
      memory: "256Mi"
      cpu: "250m"
    limits:
      memory: "512Mi"
      cpu: "500m"
  storage:
    size: 1Gi
