apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ferriskey-admin-secret
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: ferriskey

  source:
    repoURL: https://github.com/nathaelb/k-soul.git
    targetRevision: main
    path: manifests/secrets

  destination:
    server: https://kubernetes.default.svc
    namespace: ferriskey-demo

  syncPolicy:
    automated:
      prune: false
      selfHeal: false
    syncOptions:
      - CreateNamespace=true
    retry:
      limit: 3
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
